---
layout: archive
permalink: /software/
title: ""
author_profile: true
redirect_from:
  - /portfolio/
---

{% include base_path %}

<h2>R Packages</h2>
<div class="portfolio-list">
  {% for post in site.portfolio %}
    <div class="portfolio-item">
      <h3>{{ post.title }}</h3>
      {{ post.content | markdownify }}
    </div>
  {% endfor %}
</div>

<h2>Tutorials</h2>

<h3>R</h3>
{% assign r_posts = site.posts | where: "tutorial_group", "R" %}
{% for post in r_posts %}
  {% include archive-single.html %}
{% endfor %}

<h3>Stata (in Spanish)</h3>
{% assign stata_posts = site.posts | where: "tutorial_group", "Stata (in Spanish)" %}
{% for post in stata_posts %}
  {% include archive-single.html %}
{% endfor %}
