---
layout: archive
permalink: /tutorials/
title: ""
author_profile: true
redirect_from:
  - /year-archive/
  - /wordpress/blog-posts/
---

{% include base_path %}

<h2>R</h2>
{% assign r_posts = site.posts | where: "tutorial_group", "R" %}
{% for post in r_posts %}
  {% include archive-single.html %}
{% endfor %}

<h2>Stata (in Spanish)</h2>
{% assign stata_posts = site.posts | where: "tutorial_group", "Stata (in Spanish)" %}
{% for post in stata_posts %}
  {% include archive-single.html %}
{% endfor %}
