/*
.author__bio {
  font-size: 1rem !important;
  margin-top: -1.25rem !important;
}
*/

.author__avatar {
  margin-top: 0rem !important;
}

/* hide avatar caption on screens ≤ 768 px */
@media (max-width: 768px) {
  .author__avatar-caption {
    display: none !important;
  }
}

/* show caption only on phones (≤ 768 px) */
.mobile-caption {
  display: none;
}

@media (max-width: 768px) {
  .mobile-caption {
    display: block !important;
  }
}

.masthead {
  background-color: #002147 !important; /* Dark blue */
}

.masthead *,
.masthead a,
.masthead .site-title,
.masthead .site-nav,
.masthead .greedy-nav,
.masthead .greedy-nav a {
  background-color: transparent !important;
  color: #ffffff !important; /* White text */
}
